

.jumbotron {
    background-image: url('http://www.nflonlocation.net/sites/default/files/privacypolicy/privacy-policy-header.jpg');
    background-size: cover;
}

a:focus,
a:hover {
  color: rgb(224, 29, 222);
  text-decoration: none;
}

.panel-heading:hover {
   background-color: rgba(51, 122, 183, 0.40);
 }
